[req]
default_bits       = 512
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[req_distinguished_name]
C  = IN
ST = TELANGANA
L  = KANDI
O  = IITH
CN = iTS Root R1

[req_ext]
basicConstraints = critical, CA:TRUE
keyUsage         = critical, keyCertSign, cRLSign
